@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
    font-family: Rubik;
    box-sizing: border-box;
    margin: 0;
    background: #FBFBFB;
}

a {
    text-decoration: none;
    color: black;
    outline: none;
}

button {
    outline: none;
}

.header {
    border-bottom: 1px solid #E0E0E0;
    font-weight: 400;
    font-style: normal;
    min-height: 71px;
    display: flex;
    align-items: center;
    justify-content: stretch;
}

.header__block {
    width: 1116px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 91px;
    height: 25px;
}

.header__contacts {
    display: flex;
    justify-content: space-between;
    width: 350px;
    font-family: IBM Plex Mono;
    font-size: 14px;
    line-height: 18px;
}

.header__contacts_text {
    width: fit-content;
    margin: auto 18px;
    word-wrap: none;
}

.header__button {
    font-size: 16px;
    line-height: 19px;
}

.header__button a {
    color: #5DAF57;
}

.about__block {
    background: #F9F7F5;
}

.about__content_container {
    max-width: 1116px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.about__info_block {
    display: flex;
    flex-direction: column;
    width: 595px;
    margin: 0 0 auto auto;
}

.about__menu {
    width: 500px;
    margin: 18px 0 0;
}

.about__menu_list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: Rubik;
    font-size: 16px;
    line-height: 19px;
}

.about__menu_item {
    margin-right: 41px;
}

.about__menu_image {
    position: relative;
    width: 30px;
    height: 30px;
    background: #EBEBEB;
    border-radius: 50%;
}

.about__menu_image::before {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    background: url("../IMG/Arrow.svg") no-repeat;
    top: 42%;
    left: 33%;
}

.about__info {
    width: 57%;
    margin: 240px 82px auto 0;
}

.about__info_org {
    font-weight: 500;
    font-size: 16px;
    line-height: 122.4%;
    color: #5DAF57;
    margin: 0 auto;
}

.about__info_title {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    margin: 6px auto 12px;
}

.about__info_description {
    font-family: IBM Plex Mono;
    font-size: 18px;
    line-height: 122.4%;
    color: #A2A2A2;
    width: 513px;
}

.about__img_block {
    margin: 0 16px 0 0;
    padding: 0;
}

.partners__block {
    width: 1116px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 75px auto 176px;
}

.partners__offers_list-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: auto 183px auto auto;
    margin-left: 0;
    width: 37%;
}

.partners__button_block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 798px;
    height: 76px;
    margin: auto;
    background: #EEF2F4;
    border-radius: 18px;
    margin-bottom: 72px;
}

.partners__button_item {
    font-family: 'Rubik';
    border-radius: 13px;
    font-weight: 500;
    font-size: 22px;
    line-height: 122.4%;
    text-align: center;
    border: none;
    width: 49%;
    height: 84%;
    margin: 5px;
}

.partners__button_item:first-child {
    background: #FFFFFF;
    box-shadow: 0px 9px 30px rgba(0, 0, 0, 0.04);
}

.partners__button_item a {
    color: #3C3C3C;
}

.partners__button_item:last-child a {
    color: #7A847C;
}

.partners__content-block {
    display: flex;
}

.partners__offers_list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: auto auto 0 15px;
    border-left: 1px solid #C9F6C6;
}

.partners__offers_item {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 18px 0 24px;
}

.partners__offers_item:last-child {
    margin-bottom: 20px;
}

.partners__offers_image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DBF5D9;
    border-radius: 50%;
    min-width: 30px;
    height: 30px;
    margin-left: -15px;
}

.partners__offers_image::before {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #72CC6B;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.17);
    z-index: 2;
}

.partners__offers_item-text {
    margin: 0 0 0 33px;
    font-family: 'IBM Plex Mono';
    font-weight: 500;
    font-size: 18px;
    line-height: 113.9%;
}

.partners__info {
    display: flex;
    flex-direction: column;
    width: 34%;
    margin: 0;
}

.partners__info_description {
    width: 492px;
    font-family: 'IBM Plex Mono';
    font-size: 18px;
    line-height: 160.9%;
    color: #A2A2A2;
    margin: 0 auto 32px 0;
}

.partners__info_button {
    width: 136px;
    height: 46px;
    background: #5DAF57;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    border: none
}

.partners__info_button a {
    color: white;
    outline: none;
}

.career__direction_block {
    width: 1116px;
    font-weight: 500;
    margin: auto;
}

.career__direction_title {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: auto;
    font-size: 32px;
    line-height: 122.4%;
    text-align: center;
}

.career__direction_title::after {
    position: absolute;
    content: "";
    background-color: #5DAF57;
    width: 40px;
    height: 3px;
    bottom: 0;
    left: 48%;
}

.career__direction_diagram {
    min-width: 1400px;
    height: 895px;
    position: relative;
    font-size: 27px;
    line-height: 122.4%;
    color: #FFFFFF;
    display: flex;
    margin: 124px auto 206px -150px;
}

.career__direction_diagram-figure {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.career__direction_diagram-figure:first-child {
    width: 443px;
    height: 443px;
    left: 34.5%;
    background: url("../IMG/grey_ellipse.svg") no-repeat;
}

.career__direction_diagram-figure:first-child:hover {
    background: url("../IMG/grey-group.svg") no-repeat;
    transition: 0.3s;
}

.career__direction_diagram-figure:nth-child(2) {
    width: 369px;
    height: 369px;
    bottom: 24%;
    left: 11%;
    background: url("../IMG/blue_ellipse.svg") no-repeat;
}

.career__direction_diagram-figure:nth-child(2):hover {
    background: url("../IMG/blue-group.svg") no-repeat;
    transition: 0.3s;
}

.career__direction_diagram-figure:nth-child(3) {
    font-size: 22px;
    width: 247px;
    height: 247px;
    right: 12%;
    top: 12.5%;
    background: url("../IMG/black_ellipse.svg") no-repeat;
}

.career__direction_diagram-figure:nth-child(4) {
    width: 317px;
    height: 317px;
    left: 36%;
    bottom: 5%;
    background: url("../IMG/green_ellipse.svg") no-repeat;
    transform: rotate(-0.42deg);
}

.career__direction_diagram-figure:last-child {
    width: 391px;
    height: 391px;
    right: 10%;
    bottom: 10%;
    background: url("../IMG/pink_ellipse.svg") no-repeat;
}

.career__direction_diagram-figure:last-child:hover {
    background: url("../IMG/pink-group.svg") no-repeat;
    transition: 0.3s;
}

.career__direction_diagram-small {
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
}

.grey {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    left: -15%;
    top: 35%;
}

.blue {
    width: 15px;
    height: 15px;
    bottom: -23%;
}

.black {
    top: -23%;
    left: 0;
}

.green {
    width: 11.23px;
    height: 11.23px;
    top: -5%;
    right: 10%;
}

.pink {
    width: 13px;
    height: 13px;
    bottom: -25%;
    left: 5%;
}

.work__block {
    margin: 100px 0;
    background: #F6F6F6;
}

.work__title_block {
    width: 882px;
    font-weight: 500;
    font-size: 32px;
    line-height: 122.4%;
    text-align: center;
    padding-top: 100px;
    margin: 0 auto 163px;
}

.work__title {
    position: relative;
}

.work__title::after {
    position: absolute;
    content: "";
    background-color: #5DAF57;
    width: 40px;
    height: 3px;
    bottom: -80%;
    left: 48%;
}

.work__steps_block {
    width: 1190px;
    min-height: 1600px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}

.work__steps {
    width: 540px;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 36px 66px -12px rgba(0, 0, 0, 0.02);
    margin: 0 36px 36px 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 36px;
    padding-top: 48px;
}

.work__steps:nth-child(2) {
    margin-top: 205px;
    margin-right: 0;
}

.work__steps:nth-last-child(2) {
    margin-top: -130px;
}

.work__steps:last-child {
    margin-bottom: 120px;
    margin-right: 0;
    min-height: 950px;
}

.work__steps_label {
    width: 93px;
    height: 17px;
    background: #35B34A;
    font-size: 16px;
    line-height: 122.4%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 8px 16px;
}

.work__steps_title {
    width: 60%;
    font-weight: 500;
    font-size: 22px;
    line-height: 130.52%;
    letter-spacing: 0.01em;
    margin-bottom: 32px;
}

.work__steps_list {
    list-style: none;
    padding: 0;
    margin: 0 0 71px 0;
}

.work__steps_list-item {
    width: 379px;
    margin-bottom: 32px;
    font-family: IBM Plex Mono;
    font-size: 18px;
    line-height: 122.4%;
    color: #959595;
}

.work__steps_image-block {
    position: relative;
    margin: 46px 36px 87px 0;
    width: 276px;
    height: 276px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, #F1F1F1 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.work__steps_image-text {
    font-family: Gilroy;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: linear-gradient(0deg, #68C677, #68C677);
}

.work__steps_image-envelope {
    position: absolute;
}

.work__steps_image-envelope:first-child {
    bottom: 32%;
    left: -2%;
}

.work__steps_image-envelope:nth-child(2) {
    top: 14%;
    right: 25%;
}

.work__steps_image-envelope:last-child {
    bottom: 5%;
    right: 0;
}

.work__steps_image-block_two {
    display: flex;
    margin: auto auto 108px;
    width: 75%;
}

.work__steps_image {
    display: flex;
    justify-content: space-between;
    width: 338px;
    height: fit-content;
    margin: auto 0 auto -36px;
}

.work__steps_image-silouette {
    width: 133px;
    height: 132px;
    background: #72CC6B;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.work__steps_image-silouette.red {
    background: #CF4F4F;
}

.work__steps_image-green {
    display: flex;
    flex-direction: column;
}

.work__steps_image-silouette img {
    width: 41px;
    height: 41px;
}

.work__steps_image-checkbox {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
}

.work__steps_image-checkbox .checkbox {
    margin-right: 12px;
}

.work__steps_image-block_three {
    width: 100%;
}

.work__steps_image-rocket {
    display: flex;
    justify-content: center;
    margin: auto auto auto -36px;
    background: url('../IMG/rocket/rocket_takeoff_dust.svg') no-repeat,
        url('../IMG/rocket/rocket_steam.svg') no-repeat;
    background-position: bottom;
}

.work__steps_image-rocket .rocket {
    width: 130px;
    margin-bottom: 138px;
}

.work__steps:last-child {
    background: url("../IMG/step4_background.png") no-repeat;
    background-size: cover;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 0;
}

.work__steps:last-child .work__steps_title {
    width: fit-content;
    margin-top: 313px;
    margin-left: -36px;
}

.work__steps_auth-button {
    background: #FFFFFF;
    width: 181px;
    height: 55px;
    font-family: Inter;
    font-size: 18px;
    line-height: 130.52%;
    text-align: center;
    border: none;
    outline: none;
    margin-left: -36px;
    margin-bottom: 326px;
}

.work__steps_auth-button a {
    color: #5DB057;
}

.career__club_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1116px;
    margin: 210px auto 600px;
}

.career__club_image {
    position: relative;
    -webkit-box-shadow: 41px 46px 66px 1px rgba(34, 60, 80, 0.07);
    -moz-box-shadow: 41px 46px 66px 1px rgba(34, 60, 80, 0.07);
    box-shadow: 41px 46px 66px 1px rgba(34, 60, 80, 0.07);
    z-index: 1;
}

.career__club_image-block {
    position: relative;
}

.career__club_image-block::after {
    position: absolute;
    content: "";
    background: url('../IMG/Rectangle.svg') no-repeat;
    width: 700px;
    height: 900px;
    top: -48px;
    left: -36px;
}

.career__club_info {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: fit-content;
    justify-content: space-between;
}

.career__club_info-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
}

.career__club_info-text {
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 122.4%;
    color: #A2A2A2;
}

.career__club_info-list {
    list-style: none;
    padding: 0;
    border-left: 1px solid #C9F6C6;
    margin: 40px auto 70px 15px;

}

.career__club_info-list_item {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 42px;
    margin-left: -15px;
}

.career__club_info-list_item:last-child {
    margin-bottom: 0;
}

.career__club_info-list_item p {
    margin: 0;
}

.career__club_info-list_image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 29px;
    height: 29px;
    background: #DBF5D9;
    border-radius: 50%;
    margin-right: 33px;
}

.career__club_info-list_image::before {
    position: absolute;
    content: "";
    background: #72CC6B;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.17);
    width: 11px;
    height: 11px;
    border-radius: 50%;
}

.career__club_info-button {
    background: #35B34A;
    width: 168px;
    height: 46px;
    border: none;
    outline: none;
}

.career__club_info-button a {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.footer {
    height: 301px;
    background: #F6F6F6;
    border-top: 1px solid #E0E0E0;
    margin: 0;
}

.footer__block {
    width: 1156px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 52px auto;
}

.footer__upper,
.footer__lower {
    display: flex;
}

.footer__upper {
    border-bottom: 1px solid #E3E3E3;
    padding-bottom: 96px;
}

.footer__logo_block {
    margin-left: 0;
    margin-right: 341px;
}

.footer__contacts {
    width: 724px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.footer__contacts-label {
    margin: 5px auto 18px;
    font-family: 'Rubik';
    font-size: 16px;
    line-height: 19px;
    color: #B3B3B3;
}

.footer__contacts_social {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.footer__contacts-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    font-family: 'IBM Plex Mono';
    color: #515154;
    margin-right: 32px;
}

.footer__contacts-item:last-child {
    margin-right: 0;
}

.footer__contacts-item img {
    margin-right: 12px;
}
    
.footer__contacts-item:hover,
.footer__contacts-item:active {
    text-decoration: underline;
    color: #35B34A;
}

.footer__lower {
    border-bottom: none;
    color: #BFBFBF;
}

.footer__legal {
    display: flex;
    margin: auto;
    width: 515px;
    height: 19px;
    margin: 36px auto;
}

.footer__legal a {
    font-family: 'Rubik';
    color: #BFBFBF;
    font-size: 16px;
    line-height: 19px;
    padding: 0 16px;
}

.footer__legal a:hover {
    color: #4b4747;
}

.footer__legal a:nth-child(2) {
    border-left: 1px solid #BFBFBF;
    border-right: 1px solid #BFBFBF;
}